<div id="<%= dom_id meeting %>">
  <p>
    <strong>Title:</strong>
    <%= meeting.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= meeting.category %>
  </p>

  <p>
    <strong>Meeting room:</strong>
    <%= meeting.meeting_room %>
  </p>

  <p>
    <strong>Meeting url:</strong>
    <%= meeting.meeting_url %>
  </p>

</div>
